---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts", ({ data }) => !data.draft)).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BaseLayout title="Archive - ajscanlan.dev">
    <h1 class="text-2xl font-semibold mb-6">Archive</h1>
    <ul class="space-y-4">
        {
            posts.map(({ data, slug }) => (
                <li>
                    <a href={`/posts/${slug}/`} class="hover:underline">
                        {data.title}
                    </a>
                    <span class="text-ink-500 text-sm">
                        {" "}
                        · {new Date(data.date).toLocaleDateString("en-IE")}
                    </span>
                </li>
            ))
        }
    </ul>
</BaseLayout>
